<div class="container">
    <div class="body" style="align-items: center;">
        <div>
            <h1 class="text-center" style="margin:40px;"> Submit a Ticket</h1>
            <form #productRef="ngForm" (ngSubmit)="storeTicket(productRef.value)">
                <label> First Name</label>
                <input type="text" class="form-control" name="firstName" ngModel> <br />
                <label> Last Name</label>
                <input type="text" class="form-control" name="lastName" ngModel> <br />
                <label> Message</label>
                <input type="text" class="form-control" name="msg" ngModel> <br />
                <input type="submit" class="col-4 btn btn-primary btn-sm float-left" value="Submit">
                <input type="reset"  class="col-4 btn btn-primary btn-sm float-right" value="Reset"> <br />
            </form>
        </div>
    </div>
</div>