<!---

<div class="main-container container-fluid">
    <div class='links-container mb-3'>
       
        <button class="btn btn-outline-primary"name="sentrequest" (click)='onSelectLink($event)'>Create/remove Order request</button>
        <button class="btn btn-outline-primary"name="lockuser" (click)='onSelectLink($event)'>Lock/Unlock User</button>
        <button class="btn btn-outline-primary"name="editProfile" (click)='onSelectLink($event)'>Edit Profile</button>
        <button class="btn btn-outline-primary"name="updateOrderStatus" (click)='onSelectLink($event)'>Update Order Status</button>

    </div>
    <br><br>
    <div class="tab-container">
        <div [ngSwitch]="selectedTab">
            
            <app-send-request *ngSwitchCase="'sentrequest'"></app-send-request>
            <app-lock-user *ngSwitchCase="'lockuser'"></app-lock-user>
            <app-edit-profile *ngSwitchCase="'editProfile'"></app-edit-profile>
            <app-update-order-status *ngSwitchCase="'updateOrderStatus'"></app-update-order-status>

            <div *ngSwitchDefault>  
            </div>
        </div>
    </div>
</div>
-->