.pagination {
  position: absolute;
  right: 0;
  width: 200px;
  height: 100px;
  top: 340px;
}
.output {
    height: 60vh;
    border: 1px solid black;
    margin: 100px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  overflow: scroll;
}
.total {
  position: absolute;
  width: 200px;
  height: 100px;
  margin: 0px 0px 0px 990px; 
}
.container {

    position: absolute;
  width: 200px;
  height: 100px;
  margin: 80px 90px 60px 1020px; 
  
}
