<nav class="navbar navbar-dark bg-dark">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="width: 100%; padding-right:20px; padding-left: 20px; position: relative;">
        <a class="logo" routerLink="/"><img src="../../assets/grocery_1_45x45.jpeg"> </a>
        <button class="navbar-toggler" (click)=toggleNavBar() type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
     
        <div class="collapse navbar-collapse" [class.show] ="isOpen" id="navbarNav">
          <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link" routerLink="/adminpanel">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-item nav-link" routerLink="/updateproduct" routerLinkActive="Active" style="margin-left: 50px;"
                        >Update Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" routerLink="/lockuser" routerLinkActive="Active" style="margin-left: 50px;"
                        >Lock User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" routerLink="/orderstatus" routerLinkActive="Active"
                        style="margin-left: 50px;" >OrderStatus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" routerLink="/signup" routerLinkActive="Active"
                        style="margin-left: 50px;" >SignUp</a>
                </li>
               
                
                <li class="nav-item">
                    <a class="nav-item nav-link" routerLink="/login" routerLinkActive="Active"
                        style="margin-left: 50px;" *ngIf="!isUser">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger" routerLink="/logout" routerLinkActive="Active" style="margin-left: 50px;"
                        (click)='logout()' >Logout</a>
                </li>
            </ul>
        </div>


    </nav>
</nav>