<div class="container">
    <div class="body" style="align-items: center;">
        <h2 class="text-center" style="margin:40px;">Login Form!</h2>

        <div>
            <form #ngRef="ngForm" (ngSubmit)="login(ngRef.value)">
                <label>Name :</label> <br><br>
                <input type="text" class="form-control" name="username" ngModel required> <br>
                <label>Password :</label> <br><br>
                <input type="text" class="form-control" name="password" ngModel required>
                <br> <br>
                <input type="submit" class="col-4 btn btn-primary btn-sm float-right" value="Log in">
                <input type="reset" class="col-4 btn btn-secondary btn-sm float-left" value="Reset">
            </form>
            <p class="text-end"> {{resultMsg}} </p>

            <br> 
            <a class="nav-item nav-link" routerLink="/raiseticket" routerLinkActive="Active" style="margin-left: 50px;"
                        >Locked Out?</a>
        </div>
    </div>
</div>