<div class="main-container container-fluid">
    <div class='links-container mb-3'>
        <button class="btn btn-outline-primary" name="viewProducts" (click)='onSelectLink($event)'>View Products</button>
        <button class="btn btn-outline-primary"name="addProduct" (click)='onSelectLink($event)'>Add Product</button>
        <button class="btn btn-outline-primary"name="viewRequests" (click)='onSelectLink($event)'>View Requests</button>
    </div>
    <br><br>
    <div class="tab-container">
        <div [ngSwitch]="selectedTab">
            <app-add-product *ngSwitchCase="'addProduct'"></app-add-product>
            <app-view-products *ngSwitchCase="'viewProducts'"></app-view-products>
            <app-view-requests *ngSwitchCase="'viewRequests'"></app-view-requests>
            <div *ngSwitchDefault>
                
            </div>
        </div>
    </div>
</div>