<div>
    <h2>View the users whose account are locked</h2>
    <table border = "1px">
        <tr >
            <th>User ID</th>
            <th>user Name</th>
            <th>First name</th>
            <th>Last Name</th>
            <th>Lock Status</th>
        </tr>
        <tbody >

            <tr *ngFor = "let o of tmp" >
            <td>{{o._id}}</td>
            <td>{{o.username}}</td>
            <td >{{o.firstname}}</td>
            <td >{{o.lastname}}</td>
            <td >{{o.lock}}</td>

        </tr>
        </tbody>
    </table>
    
    <br>
    <br>   
    <hr>
    <br>
    <br>

    <h2>Remove lock user account</h2>
    <form #ngRef="ngForm" (ngSubmit)= "unlockUser(ngRef.value)">
        User Id : <input type="text" name = "userId" ngModel required> <br>
        User Name : <input type="text" name = "userName" ngModel required> <br>
        <br> <br>
        <input type="submit" value="Unlock User">
        <input type="reset" value="reset">
     </form>

     {{msg}}
</div>
