<div>
    <h2>View the users whose account are locked</h2>
    <table border = "1px">
        <tr>
            <th>User Name</th>
            <th>First name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <th></th>
        </tr>
    </table>


    <h2>Welocme to lock Screen page</h2>
    <form #ngRef="ngForm" (ngSubmit)= "unlockUser(ngRef.value)">
        User Name : <input type="text" name = "username" ngModel required> <br>
        <br> <br>
        <input type="submit" value="Unlock User">
        <input type="reset" value="reset">
     </form>
</div>
