<div class="container">
    <div class="body" style="align-items: center;">
        <div>
            <h2 lass="text-center" style="margin:40px;">Create a new order request</h2>
            <form #ngRef="ngForm" (ngSubmit)="increaseProduct(ngRef.value)">
                Product Name : <input type="text" class="form-control" name="pname" ngModel required> <br>
                Product Quanity : <input type="number" class="form-control" name="quanity" ngModel required>
                <br> 
                <input type="submit" class="col-4 btn btn-primary btn-sm float-left" value="Inc+/Dec-">
                <input type="reset" class="col-4 btn btn-secondary btn-sm float-right" value="reset">
            </form>
        </div>
    </div>
</div>
<hr>
<br>
<div class="container">
    <div class="body" style="align-items: center;">
        <h2 class="text-center" > Delete form </h2>
        <div  class="remove" style="margin: 5px 0 90px 0;">
            <form #ref="ngForm" (ngSubmit)="removeForm(ref.value)">
                Product Name to be Deleted: <input type="text" class="form-control" name="delName" ngModel required>
                 
                <input type="submit" style="margin-left: 120px;" class="col-4 btn btn-primary " value="removeForm">
            </form>

        </div>
    </div>
</div>